.wrapper {
  width: 17em;
  height: 100vh;
  padding: 3em;
}

.name {
  font-size: 2em;
  padding: 0.5em;
}

.links {
  .item {
    padding: 1em;
  }
}

.openBtn {
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    transition: left 0.3s;
  }

  .open {
    left: 0;
  }

  .closed {
    left: -100vw;
  }

  .openBtn {
    display: block;
    position: fixed;
    width: 4em;
    height: 4em;
    padding: 1em;
  }
}