{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.test.*"}]
      ]
    }
  }
}
