@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

html,
body {
  font-family: 'Rubik';
  margin: 0;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 87);
  font-weight: 300;
}

// To make sure padding doesn't change size of elements
html {
  box-sizing: border-box; // https://css-tricks.com/box-sizing/
}

*, *:before, *:after {
  box-sizing: inherit;
}
// end

.app {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
