@import "../core/colors";

.wrapper {
  img {
    width: 20em;
    height: auto;
    padding: 2em;
  }
}

.platforms {
  color: $secondary-text-dark;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.imgWrapper {
  width: 20em;
  height: 20em;
  overflow: hidden;
}