@import "../core/colors";

.wrapper {
  display: flex;
}

.text {
  padding-left: 2em;
}

.platforms {
  color: $secondary-text-dark;
}

$headerImgSide: 10em;
.header {
  display: flex;
  justify-content: center;

  img {
    width: $headerImgSide;
    height: $headerImgSide;
  }
}

@media (max-width: 425px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .text {
    padding-left: 0em;
    text-align: center;
  }
}